# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PT2021_30225_Tirlea_Maria\PT2021_30225_Tirlea_Maria_Assignment_2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
